#!/bin/sh

export PATH="${PATH}:${HOME}/.local/scripts"
export _JAVA_AWT_WM_NONREPARENTING=1
export QT_QPA_PLATFORMTHEME=qt5ct

setxkbmap -layout hu
xbindkeys
xmodmap -e 'clear Lock' -e 'keycode 0x42 = Escape'
xset r rate 250 30
fehbg
picom -b
dunst &
udiskie &

# TODO: fix this
if hostnamectl status | grep Chassis | cut -f2 -d ":" | tr -d ' ' | grep -q "laptop"; then
    batsignal -e -b &
    libinput-gestures-setup autostart start
fi

