#!/bin/sh

export PATH="${PATH}:${HOME}/.scripts"
export _JAVA_AWT_WM_NONREPARENTING=1

setxkbmap -layout hu
xbindkeys
~/.scripts/fehbg &
picom &
dunst &
batsignal -e -b &
udiskie &
light-locker &
libinput-gestures-setup start

