#!/bin/sh

userresources=$HOME/.Xresources
if [ -f "$userresources" ]; then
    xrdb -merge "$userresources"
fi

export PATH="${PATH}:${HOME}/.local/bin:${HOME}/.local/scripts:${HOME}/.local/scripts/blocks"
export _JAVA_AWT_WM_NONREPARENTING=1
export QT_QPA_PLATFORMTHEME=qt5ct

setxkbmap -layout hu
xbindkeys
xmodmap -e 'clear Lock' -e 'keycode 0x42 = Escape'
xset r rate 250 30
fehbg
picom -b
dunst &
udiskie &
pactl set-default-sink alsa_output.pci-0000_00_1f.3.analog-stereo
pactl set-default-source alsa_output.pci-0000_00_1f.3.analog-stereo.monitor

read -r CHASSIS_TYPE < /sys/class/dmi/id/chassis_type
if [ "$CHASSIS_TYPE" = 9 ] || [ "$CHASSIS_TYPE" = 10 ]; then
    batsignal -e -b &
    libinput-gestures-setup autostart start
fi

